<h4>{{observation.phenomenonTime}}</h4>
<ul class="nav nav-tabs">
  <li class="active">
    <button data-target="result" class="btn btn-link">Result</button>
  </li>
  <li>
    <button data-target="feature" class="btn btn-link">Feature</button>
  </li>
</ul>
<div class="preview">
  <div class="result-preview">
    {{#if isImage}}
    <img src="{{observation.result}}" class="img-responsive" />
    {{else}}
    <h4>
      <a href="{{observation.result}}">{{observation.result}}</a>
    </h4>
    {{/if}}
  </div>

  <div class="feature-preview">
    {{geojson-map geojson=observation.feature-of-interest.feature}}
  </div>
</div>
<p>
  {{#link-to "datastreams.show" observation.datastream class="btn btn-primary btn-sm"}}More Results{{/link-to}}
</p>
