<!-- slide wrapper -->
<div class="carousel-preview" {{action "loadPrevious" on="swipeRight"}} {{action "loadNext" on="swipeLeft"}}>
  <div class="item">
    {{#if isImage}}
      {{#if isLoading}}
      <h2>Loading</h2>
      {{/if}}
    <img src="{{active-observation.result}}" class="img-responsive">
    {{else}}
    <h4>
      <a href="{{active-observation.result}}">{{active-observation.result}}</a>
    </h4>
    {{/if}}
    <p class="observation phenomenonTime">{{active-observation.phenomenonTime}}</p>
  </div>
</div>

{{#if hasPreviousObservation}}
<div class="left carousel-control" {{action "loadPrevious"}}>
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  <img src="{{previousObservation.result}}" class="img-responsive">
</div>
{{/if}}

{{#if hasNextObservation}}
<div class="right carousel-control" {{action "loadNext"}}>
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  <img src="{{nextObservation.result}}" class="img-responsive">
</div>
{{else}}
<div class="right carousel-control" {{action "loadNewer"}}>
  <span>Load Newer Observations</span>
</div>
{{/if}}
