<nav class="row">
  <div class="col-md-12">
    {{#link-to "index" class="btn btn-default"}}&larr; Back to Webcam{{/link-to}}
  </div>
</nav>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h2>{{model.description}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Datastream</h3>
        <div class="datastream-details">
          {{entity-details entity=model attributes="description,observationType"}}
        </div>
      </div>
      <div class="col-md-4">
        <h3>Observed Property</h3>
        <div class="observed-property-details">
          {{entity-details entity=model.observed-property attributes="name,description,definition"}}
        </div>
      </div>
      <div class="col-md-4">
        <h3>Sensor</h3>
        <div class="sensor-details">
          {{entity-details entity=model.sensor attributes="description,metadata"}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{results-carousel datastream=model}}
  </div>
</div>
