{{outlet}}

<div class="row">
  <div class="col-md-12">
    <h1>{{model.description}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>
    <div id="thing-properties">
      {{properties-object properties=model.properties}}
    </div>
  </div>
  <div class="col-md-4">
    <h3>Location Info</h3>
    <div id="location-properties">
      {{entity-details entity=model.firstLocation attributes="description,encodingType"}}
    </div>
  </div>
  <div class="col-md-4">
    <h3>Location</h3>
    <div id="location-map-view">
      {{geojson-map geojson=model.firstLocation.location}}
    </div>
  </div>
</div>
<div id="datastreams">
{{#each model.datastreams as |datastream|}}
  {{datastream-preview datastream=datastream}}
{{/each}}
</div>
